---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
---
<header>
  <div class="header__inner">
    <div class="header__logo">
      <a href="" class="header__links">Astro Blog</a>
    </div>
    <Hamburger />
    <Navigation />
  </div>
</header>