---

---
<style>
  nav {
    z-index: 99;
  }
</style>

<nav>
  <div class="nav__inner" transition:animate="slide">
    <div class="nav__links">
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="/tags">Tag</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
